/**
 * TOOLS: Text Links
 * Global mixins, includes, placehoders - no CSS generated
 */

// NOTE: Where possible use "gel-cta-text-link-" at bottom of file

@import "../settings/breakpoints";
@import "../tools/typography";
@import "../tools/font-size";
@import "../tools/svg";

@mixin gel-cta-text-link-base {
  @include gel-font-size("x-small-caps");
  color: $link-colour;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 200ms ease-out;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    color: $link-colour-hover;
  }

  &::after {
    content: '';
    width: 1.2em;
    height: 1.2rem;
    display: block;
    // @TODO store SVG in variable or load from file
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" fill="#{$link-colour}" viewBox="0 0 38.5 62.8"><path d="M7.1 62.8L0 55.7l24.3-24.3L0 7.1 7.1 0l31.4 31.4z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1.1rem;
  }
}


/**
 * gel-cta-text-link-
 * @type mixin
 */
@mixin gel-cta-text-link() {
  @include gel-cta-text-link-base;
}
