/**
 * TOOLS: CTAS
 * Global mixins, includes, placehoders - no CSS generated
 */

// NOTE: Where possible use "gel-cta" at bottom of file

@import '../settings/breakpoints';
@import '../tools/typography';
@import '../tools/font-size';

@mixin gel-cta-base {
  @include gel-font-size('x-small-caps');
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-radius: 0.3rem;
  box-sizing: border-box;
  width: 100%;
  transition: background-color 200ms ease-out;
  position: relative;
  overflow: hidden;

  &.focus {
    &::after {
      content: '';
      position: absolute;
      height: 1rem;
      width: 1rem;
      opacity: 0;
      top: 50%;
      left: 50%;
      margin-top: -0.25rem;
      margin-left: -0.25rem;
      border-radius: 45%;
      animation: ripple 2s ease-out;
      pointer-events: none; // HD-378 Fix Firefox intermittent click not working
    }

    @keyframes ripple {
      // HD-1455 "0.01%" is hotfix for bug with AEM CSS build
      // when fixed revert this to "0%"
      0.01% {
        transform: scale(0, 0);
        opacity: 1;
      }
      20% {
        transform: scale(25, 25);
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: scale(40, 40);
      }
    }
  }

  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  .icon {
    height: 1em;
    width: 1em;
    margin-right: 0.5em;

    svg {
      fill: currentColor;
      height: 100%;
      width: 100%;
      display: block;
    }
  }

  @media ($min-breakpoint-m) {
    width: 20rem;
  }

  &.is-hidden {
    display: none;
  }
}

@mixin gel-cta-primary {
  @include gel-cta-base;
  @include font-smoothing();
  background-color: $link-colour;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: $link-colour-hover;
  }

  &.focus {
    &::after {
      background-color: rgba($white, 0.19);
    }
  }
}

@mixin gel-cta-secondary($isWhite: false) {
  @include gel-cta-base;
  background-color: transparent;
  border: 0.2rem solid currentColor;

  @if $isWhite {
    @include font-smoothing();
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($white, 0.1);
    }
    &.focus {
      &::after {
        background-color: rgba($white, 0.19);
      }
    }
  } @else {
    color: $grey-very-dark;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($grey-very-dark, 0.1);
    }
    &.focus {
      &::after {
        background-color: rgba($black, 0.19);
      }
    }
  }
}

/**
 * gel-cta
 * @type mixin
 * @param {string} type - primary, secondary or secondary-white
 */
@mixin gel-cta($type: 'primary') {
  @if $type == 'primary' {
    @include gel-cta-primary();
  }

  @if $type == 'secondary' {
    @include gel-cta-secondary(false);
  }

  @if $type == 'secondary-white' {
    @include gel-cta-secondary(true);
  }
}
