/**
 * TOOLS: FONT SIZE
 * Mixin for selecting font-size based on shortname
 * Global mixins, includes, placehoders - no CSS generated
 */

@import '../settings/fonts';

@mixin gel-font-size($shortname) {
  @if $shortname == 'xx-large-caps' {
    font: $font-size-caps-xx-large;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  @else if $shortname == 'x-large-caps' {
    font: $font-size-caps-x-large;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  @else if $shortname == 'large-caps' {
    font: $font-size-caps-large;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  @else if $shortname == 'medium-caps' {
    font: $font-size-caps-medium;
    text-transform: uppercase;
    letter-spacing: -0.5px;
  }
  @else if $shortname == 'small-caps' {
    font: $font-size-caps-small;
    text-transform: uppercase;
    letter-spacing: -0.25px;
  }
  @else if $shortname == 'x-small-caps' {
    font: $font-size-caps-x-small;
    text-transform: uppercase;
    letter-spacing: -0.25px;
  }
  @else if $shortname == 'xx-small-caps' {
    font: $font-size-caps-xx-small;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  @else if $shortname == 'large' {
    font: $font-size-large;
    letter-spacing: -0.5px;
  }
  @else if $shortname == 'medium' {
    font: $font-size-medium;
    letter-spacing: 0;
  }
  @else if $shortname == 'small' {
    font: $font-size-small;
    letter-spacing: 0;
  }
  @else if $shortname == 'x-small' {
    font: $font-size-x-small;
    letter-spacing: 0;
  }
  @else if $shortname == 'xx-small' {
    font: $font-size-xx--small;
    letter-spacing: 0;
  }
}
