/**
 * TOOLS: FORMS
 * Mixins for form styles
 * Global mixins, includes, placehoders - no CSS generated
 */

// Section for styled radio buttons
// Input and label are child elements of the section,
// Input must be the element directly before the label in DOM
@mixin form-field-radio {
  $radio-size: 2.4rem;
  $radio-size-inner: 1rem;

  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  input[type='radio'] {
    height: $radio-size;
    width: $radio-size;
    padding: 0;
    margin: 0;
    opacity: 0;
  }

  label {
    position: relative;
    padding-left: 1em;

    &::before {
      content: '';
      position: absolute;
      width: $radio-size;
      height: $radio-size;
      top: 0;
      left: -$radio-size;
      border-radius: 50%;
      background-color: $grey-light;
      box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
    }

    &::after {
      transition: opacity 0.3s $animation-speed;
      content: '';
      position: absolute;
      width: $radio-size-inner;
      height: $radio-size-inner;
      top: ($radio-size / 2) - ($radio-size-inner / 2);
      left: -($radio-size / 2) - ($radio-size-inner / 2);
      border-radius: 50%;
      background-color: $grey-very-dark;
      opacity: 0;
    }
  }

  /*
    STATE: radio focussed (keyboard nav)
    */
  input[type='radio']:focus + label {
    &::before {
      outline: rgb(59, 153, 252) auto 5px;
      @include disable-mouse-touch-outline;
    }
  }

  /*
    STATE: radio checked
    */
  input[type='radio']:checked + label {
    &::after {
      opacity: 1;
    }
  }
}
