/**
 * TOOLS: FULL-WIDTH
 * Global mixins, includes, placehoders - no CSS generated
 */

/**
 * full-width
 * Fill viewport horizontally, clip width
 * at $max-width and remain centred
 * @type {mixin}
 */
@mixin full-width() {
  margin: 0 auto;
  max-width: $max-width;
}
