/**
 * TOOLS: BASIC LINK
 * Link for adding in body text, gives consistent colors for static, active, focus and hover
 * Global mixins, includes, placehoders - no CSS generated
 */

@mixin gel-link-basic($textColour: 'black') {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  @if $textColour == 'black' {
    color: $link-colour;
  } @else if $textColour == 'white' {
    color: $grey-light;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}
