/**
 * TOOLS: PADDING VERTICAL GROUPED
 * when two components need to be grouped together,
 * e.g. a featureContent follows a featureContent
 * Global mixins, includes, placehoders - no CSS generated
 */

/**
 * Provide default vertical gutter padding on a component at all breakpoints
 * @param {string} $direction 'both' / 'top' / 'bottom'
 */

@mixin padding-vertical-grouped($direction: 'both') {
  @if $direction == 'both' {
    padding-top: $padding-vertical-breakpoint-s / 2;
    padding-bottom: $padding-vertical-breakpoint-s / 2;

    @media ($min-breakpoint-m) {
      padding-top: $padding-vertical-breakpoint-m / 2;
      padding-bottom: $padding-vertical-breakpoint-m / 2;
    }

    @media ($min-breakpoint-l) {
      padding-top: $padding-vertical-breakpoint-l / 2;
      padding-bottom: $padding-vertical-breakpoint-l / 2;
    }

    @media ($min-breakpoint-xxl) {
      padding-top: $padding-vertical-breakpoint-xxl / 2;
      padding-bottom: $padding-vertical-breakpoint-xxl / 2;
    }
  }

  @else if $direction == 'top' {
    padding-top: $padding-vertical-breakpoint-s / 2;

    @media ($min-breakpoint-m) {
      padding-top: $padding-vertical-breakpoint-m / 2;
    }

    @media ($min-breakpoint-l) {
      padding-top: $padding-vertical-breakpoint-l / 2;
    }

    @media ($min-breakpoint-xxl) {
      padding-top: $padding-vertical-breakpoint-xxl / 2;
    }
  }

  @else if $direction == 'bottom' {
    padding-bottom: $padding-vertical-breakpoint-s / 2;

    @media ($min-breakpoint-m) {
      padding-bottom: $padding-vertical-breakpoint-m / 2;
    }

    @media ($min-breakpoint-l) {
      padding-bottom: $padding-vertical-breakpoint-l / 2;
    }

    @media ($min-breakpoint-xxl) {
      padding-bottom: $padding-vertical-breakpoint-xxl / 2;
    }
  }
}
