/**
 * TOOLS: PADDING
 * Global mixins, includes, placehoders - no CSS generated
 */

 @import '../settings/padding';

/**
 * Provide default gutter padding on a component at all breakpoints
 * @param {string} $direction 'both' / 'horizontal' / 'vertical' / 'top' / 'bottom'
 */

@mixin padding($direction: 'both') {
  @if $direction == 'both' {
    padding: $padding-vertical-breakpoint-s $padding-horizontal-breakpoint-s;

    @media ($min-breakpoint-m) {
      padding: $padding-vertical-breakpoint-m $padding-horizontal-breakpoint-m;
    }

    @media ($min-breakpoint-l) {
      padding: $padding-vertical-breakpoint-l $padding-horizontal-breakpoint-l;
    }

    @media ($min-breakpoint-xxl) {
      padding: $padding-vertical-breakpoint-xxl $padding-horizontal-breakpoint-xxl;
    }
  }

  @else if $direction == 'horizontal' {
    padding-left: $padding-horizontal-breakpoint-s;
    padding-right: $padding-horizontal-breakpoint-s;

    @media ($min-breakpoint-m) {
      padding-left: $padding-horizontal-breakpoint-m;
      padding-right: $padding-horizontal-breakpoint-m;
    }

    @media ($min-breakpoint-l) {
      padding-left: $padding-horizontal-breakpoint-l;
      padding-right: $padding-horizontal-breakpoint-l;
    }

    @media ($min-breakpoint-xxl) {
      padding-left: $padding-horizontal-breakpoint-xxl;
      padding-right: $padding-horizontal-breakpoint-xxl;
    }
  }

  @else if $direction == 'vertical' {
    padding: $padding-vertical-breakpoint-s 0;

    @media ($min-breakpoint-m) {
      padding: $padding-vertical-breakpoint-m 0;
    }

    @media ($min-breakpoint-l) {
      padding: $padding-vertical-breakpoint-l 0;
    }

    @media ($min-breakpoint-xxl) {
      padding: $padding-vertical-breakpoint-xxl 0;
    }
  }

  @else if $direction == 'top' {
    padding-top: $padding-vertical-breakpoint-s;

    @media ($min-breakpoint-m) {
      padding-top: $padding-vertical-breakpoint-m;
    }

    @media ($min-breakpoint-l) {
      padding-top: $padding-vertical-breakpoint-l;
    }

    @media ($min-breakpoint-xxl) {
      padding-top: $padding-vertical-breakpoint-xxl;
    }
  }

  @else if $direction == 'bottom' {
    padding-bottom: $padding-vertical-breakpoint-s;

    @media ($min-breakpoint-m) {
      padding-bottom: $padding-vertical-breakpoint-m;
    }

    @media ($min-breakpoint-l) {
      padding-bottom: $padding-vertical-breakpoint-l;
    }

    @media ($min-breakpoint-xxl) {
      padding-bottom: $padding-vertical-breakpoint-xxl;
    }
  }
}
