/**
 * TOOLS: TEXT SECTION
 * Generic text styles for elements
 * For use on CMS rich text areas where elements (rather than
 * classes) are styled
 */

@import '../settings/breakpoints';
@import '../settings/margins';
@import '../tools/font-size';
@import '../tools/link-basic';

@mixin text-default-margin {
  margin: 0 0 $margin-body-text;
  &:last-child {
    margin-bottom: 0;
  }
}

/* Headings */
@mixin text-section-headings {
  h1 {
    @include gel-font-size('large-caps');
    margin: 0 0 2rem;
    @media ($min-breakpoint-l) {
      @include gel-font-size('x-large-caps');
    }
  }

  h2 {
    @include gel-font-size('medium-caps');
    margin: 0 0 2rem;
    @media ($min-breakpoint-l) {
      @include gel-font-size('large-caps');
    }
  }

  h3 {
    @include gel-font-size('small-caps');
    margin: 0 0 2rem;
    @media ($min-breakpoint-l) {
      @include gel-font-size('medium-caps');
    }
  }

  h4 {
    @include gel-font-size('x-small-caps');
    font-weight: bold;
    margin: 0 0 2rem;
    @media ($min-breakpoint-l) {
      @include gel-font-size('small-caps');
    }
  }

  h5 {
    @include gel-font-size('xx-small-caps');
    margin: 0 0 2rem;
    @media ($min-breakpoint-l) {
      @include gel-font-size('x-small-caps');
    }
  }

  h6 {
    @include gel-font-size('xx-small-caps');
    margin: 0 0 2rem;
    @media ($min-breakpoint-l) {
      @include gel-font-size('xx-small-caps');
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin text-section {
  @include text-section-headings();
  @include gel-font-size('small');
  @media ($min-breakpoint-l) {
    @include gel-font-size('medium');
  }

  /* Links */
  a {
    @include gel-link-basic('black');
    word-break: break-word;
  }

  /* Paragraph */
  p {
    @include text-default-margin;
  }

  /* Lists */
  ul,
  ol {
    @include text-default-margin;
    padding-left: 1.125em;

    li {
      @include text-default-margin;
      margin-left: 3rem;
    }
  }

  /* Tables */
  table {
    @include text-default-margin;
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 0.5rem;
      border: 1px solid #d4d4d4;
      @include gel-font-size('x-small');
      background-color: $white;

      @media ($min-breakpoint-m) {
        padding: 1.5rem;
      }
    }

    th {
      font-weight: bold;
    }

    thead {
      th,
      td {
        background-color: $grey-light;
      }
      th {
        @include gel-font-size('medium');
        padding-top: 1rem;
        padding-bottom: 1rem;

        @media ($max-breakpoint-s) {
          line-height: 2rem;
        }
      }
    }

    td.table__disclaimer {
      border: 0;
      @include gel-font-size('x-small');
      background-color: transparent;
    }
  }

  /* superscript, subscript */
  sup,
  sub {
    vertical-align: baseline;
    position: relative;
  }

  sup {
    top: -0.4em;
  }

  sub {
    bottom: -0.4em;
  }
}
