
/**
 * Font smooth - use for white text on dark background
 * to make text appear lighter-weight / closer to Photoshop and Sketch
 * text rendering.
 * @type mixin
 */
@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
