/**
 * SETTINGS: BREAKPOINTS
 * Variables, definitions - no CSS generated
 */

/**
 * Available as variables in format "$min-" "and $max-", e.g:
 * "$max-breakpoint-xs" returns "max-width: 599px"
 * "$min-breakpoint-s" returns "min-width: 600px"
 * Which are created below.
 * @type {map}
 */
$breakpoints: (
  s: 0,
  m: 768,
  l: 1100, // Body font size breakpoint 1
  xl: 1280,
  xxl: 1600
);

// SASS can't currently interpolate variable names
// so manually creating variables

@function bp($width, $bp) {
  @if $width == 'max' {
    @return 'max-width: #{map-get($breakpoints, $bp) - 1}px';
  }

  @else {
    @return 'min-width: #{map-get($breakpoints, $bp)}px';
  }
}

$min-breakpoint-s: bp('min', 's');
$max-breakpoint-s: bp('max', 'm');
$min-breakpoint-m: bp('min', 'm');
$max-breakpoint-m: bp('max', 'l');
$min-breakpoint-l: bp('min', 'l');
$max-breakpoint-l: bp('max', 'xl');
$min-breakpoint-xl: bp('min', 'xl');
$max-breakpoint-xl: bp('max', 'xxl');
$min-breakpoint-xxl: bp('min', 'xxl');
