// As seen on: http://gel.honda.com.au/basics/colours/

/* stylelint-disable color-hex-length */
$honda-red: #cc0000;
$black: #000000;
$grey-very-dark: #282828;
$grey-dark: #3c3c3c;
$grey-light: #eaeaea;
$grey-very-light: #f4f4f4;
$grey-mid: #9b9b9b;
$white: #ffffff;

/* prefixed with secondary to discourage usage */
$secondary-red-dark-accent: #af0000;
$secondary-red-light-accent: #d73838;
$secondary-form-green: #4ea117;
$secondary-form-lightRed: #fbe8ea;
/* stylelint-enable color-hex-length */

$text-colour: $grey-very-dark !default;
$link-colour: $honda-red !default;
$link-colour-hover: $secondary-red-dark-accent !default;
$link-colour-alt: $grey-mid !default;
$error-bg-colour: $secondary-form-lightRed !default;
$article-header-colour: $grey-very-light !default;
