/**
 * SETTINGS: FONTS
 * Variables, definitions - no CSS generated
 */

$default-font-stacks: arial, helvetica, sans-serif;
$univers: 'univers', $default-font-stacks;
$univers-condensed: 'univers condensed', $default-font-stacks;

// Condensed
$font-size-caps-xx-large: 700 9rem/8rem $univers-condensed;
$font-size-caps-x-large: 700 6.5rem/6rem $univers-condensed;
$font-size-caps-large: 700 4rem/4rem $univers-condensed;
$font-size-caps-medium: 700 2.6rem/2.6rem $univers-condensed;
$font-size-caps-small: 700 2rem/2rem $univers-condensed;
$font-size-caps-x-small: 700 1.5rem/1.8rem $univers-condensed;
$font-size-caps-xx-small: 700 1.2rem/1.5rem $univers-condensed;

// Standard
$font-size-large: 300 2.6rem/3.4rem $univers;
$font-size-medium: 300 1.8rem/2.8rem $univers;
$font-size-small: 300 1.5rem/2.4rem $univers;
$font-size-x-small: 300 1.3rem/2rem $univers;
$font-size-xx-small: 300 1.1rem/1.7rem $univers;
