/**
 * SETTINGS: PADDING
 * Variables, definitions - no CSS generated
 */

// Standard component padding
$padding-vertical-breakpoint-s:  6rem;
$padding-horizontal-breakpoint-s: 2rem;

$padding-vertical-breakpoint-m: 9rem;
$padding-horizontal-breakpoint-m: 6rem;

$padding-vertical-breakpoint-l: 10rem;
$padding-horizontal-breakpoint-l: 7rem;

$padding-vertical-breakpoint-xxl: 12rem;
$padding-horizontal-breakpoint-xxl: 7rem;
